body {

	background-image: url('sfondo.jpg');
  background-size: 150%;
}

h1 {
 	color: red;
  font-size: 50px;
}

p {
	color: black;
  font-size: 20px;
}


.titoli{
 	color: red;
 	font-size: 25px;
} 

footer {
  	font-size:15px;
    margin-top: 20px;
    padding: 5px;
    text-align: left;
    color: black;
    vertical-align: bottom;
}	

.icone{
	height: 25px;
	width: 25px;
}

ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
	font-size: 20px;
}


li a:hover {
  background-color: grey;

}

li a {
  display: block;
  color: white;
  padding-top: 25px  ;
  text-decoration: none;
}


#social{
  color: white;
  font-size: 25px;
}

div{
  text-align:left;
  background-image: url('sfondo2.jpg');
  background-size: 100%;
  margin-left:15px;
  padding:20px;
  }

.menu{
  vertical-align: top;
  text-align: left;
  width: 15%;
  font-size: 25px;
  background-image: url('sfondo.jpg');
  background-size: 1500%;
  color: white;
}

.link{
  color: white;
}

#tablecomplotti{

  border: 2px solid black;
  border-collapse: collapse;
  padding: 20px;
  text-align: left;  
  font-size: 25px;

}

#contatti{
  padding-bottom:100px;
  padding-top:100px;
  padding-left:10px;
  padding-right:10px;

}

#paragraficontatti{
  border: 2px solid black;  
  font-size: 50px;

}